.conatiner {
  display: flex;
}
.info span {
  color: red;
}

.info p {
  color: yellow;
}
.info {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  padding-top: 7rem;
  width: 50%;
  margin: 0 auto;
}
.heropng {
  display: flex;
  width: 50%;
  height: 50%;

  padding-left: 27%;
}
.getbutton {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: yellow;
  font-size: 15px;
  border: 1px solid green;
}
@media (max-width: 1160px) {
  .conatiner {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .getbutton {
    margin: 2px auto;
  }
  .heropng {
    margin: 0px auto;
    padding-left: 0;
    width: 300px;
  }
  .info {
    margin: 0rem auto;
    flex-direction: column;
    width: 100%;
  }
}
